<div style='text-align: center'>
	<h1>Cadastre-se</h1>

	<%= form_for(@user) do |f| %>

	  <div class="form-group">
	    <%= f.label :username, "Nome de Usuário" %><br>
	    <%= f.text_field :username %>
	  </div>
	  <div class="form-group">
	    <%= f.label :email, "Email" %><br>
	    <%= f.text_field :email %>
	  </div>
	  <div class="form-group">
	    <%= f.label :password, "Senha" %><br>
	    <%= f.password_field :password %>
	  </div>
	  <div class="form-group">
	    <%= f.label :password_confirmation, "Confirme sua senha" %><br>
	    <%= f.password_field :password_confirmation %>
	  </div>
	  <div class="form-group" style="height: 60px">
	    <%= f.label :avatar, "Escolha uma foto" %><br>
	    <%= f.file_field :avatar %>
	  </div>
	 	<div style='height: 40px'>
	  	<%= f.submit "Criar Conta" %>
	  </div>

	<% end %>

	<div><%= link_to "Voltar", root_path, style: 'text-decoration: none; color: #09eaea'%></div>
</div>	