<!DOCTYPE html>
<html>
  <head>
    <title>Webbing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><a href="/"><%= image_tag("webbing-logo.png", size: "160x20", alt: "") %></a></li>
      <% if !current_user.nil? %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.username%></a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  	<div class="alertContainer">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	  </div>
    <%= yield %>
  </body>
</html>
