<!DOCTYPE html>
<html>
  <head>
    <title>Webbing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><a style="float: left"><%= image_tag("logofwx13png", size: "20x20", alt: "") %></a></li>
      <% if params[:id] != nil %>
        <li><a style="margin-left: 1500px;" href="<%= params[:id] %>"><%= User.find_by(id: params[:id]).username%></a></li>
      <% else %>
        <li><a style="margin-left: 1500px" href="/login">Login</a></li>
      <% end %>
    </ul>
  	<div class="alertContainer">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	  </div>
    <%= yield %>
  </body>
</html>
